/* HOME */

/* NAVBAR */

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.logo-container {
  margin: 20px;
}

.navbar-link-container {
  margin-top: 40px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.nav-link-a {
  color: #000;
  text-decoration: none;
  margin: 20px;
}

/* SLIDER */

.slider-main-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.slider-chevron {
  text-decoration: none;
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

.slider-page {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

/* CHECK & SEARCHBAR */

.checkboxes-main {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.checkboxes-search-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search-input {
  margin-right: 20px;
}

.check-search-main-container {
  display: flex;
  justify-content: space-between;
}

.search-button-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.search-button {
  background-color: #fff;
  border-radius: 4px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 5px;
}

.search-button:hover {
  background: #000;
  color: #fff;
  transition: 0.4s;
}

.search-bar-test {
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px;
}

.event-details-btn {
  background-color: #fff;
  border-radius: 4px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  margin-right: 20px;
}

.event-details-btn:hover {
  background: #000;
  color: #fff;
  transition: 0.4s;
}

.details-button {
  background-color: #fff;
  border-radius: 4px;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  margin-right: 20px;
}

.details-button:hover {
  background: #000;
  color: #fff;
  transition: 0.4s;
}

/* APARTE */

.check-container {
  display: flex;
  margin: 20px 0px 0px 15px;
}

.form-check {
  margin: 10px;
}

.fa fa-search {
  width: 50px;
  height: 50px;
}

.searchbar-container {
  display: flex;
  height: 40px;
  margin: 25px 20px 0px 0px;
}

.button-search {
  background-color: #fff;
  border: none;
}

/* FOOTER */

.footer-main-container {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.icon {
  margin: 10px;
  color: #000;
}

.cohort {
  margin-top: 15px;
}

/* CONTACT */

.contact-main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

.contact-input {
  width: 100%;
}

.contact-p {
  margin: 0px;
}

.contact-button-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.contact-button {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

.contact-button:hover {
  background: #000;
  color: #fff;
  transition: 0.4s;
}

/* STATS */

.column-bg-title {
  border: #000 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #000;
}

.column-bg {
  border: #000 1px solid;
}

/* NEW CARDS JSON */

.event-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30%;
}

.event-image {
  max-width: 400px;
  max-height: 400px;
  justify-self: center;
  margin-bottom: 20px;
}

#events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 30px;
}

.event-card {
  border: 2px #000 solid;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .check-search-main-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .check-container {
    display: grid;
    margin: 0px;
    padding: 0px;
  }

  .form-check {
    margin: 0px;
    padding: 0px;
  }

  .form-check-input {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-link-container {
    display: none;
  }

  .navbar-container {
    justify-content: center;
  }

  .detail-image-container {
    margin-bottom: 20px;
  }

  #events-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 30px;
  }
}

@media (max-width: 900px) {
  .details-main-container {
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .details-text-container {
    display: grid;
    margin-right: 15px;
  }
  #events-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 30px;
  }
}
